name: Docker CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image ( app + tests + emulator)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: android-emulator
          push: false
          load: true
      - name: Run tests inside container
        env:
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
        run: |
          docker run \
            --rm \
            -e SMTP_PASS=${{ secrets.SMTP_PASS }} \
            android-emulator
            





